- items = { 'wadsl' => 'WADSL', 'adsl' => 'ADSL', 'fiber' => 'Fibra', 'voip' => 'VoIP' }

.subnav.subnav-fixed
  .container
    .subnav-items
      - items.each_pair do |key, label|
        - classes = ['subnav-item']
        - classes << 'active' if params[:id] == "pricing/#{key}"

        %a{ href: send("pricing_#{key}_path"), class: classes.join(' ') }= label
