.container
  .heading
    %h1.heading-title Veloce, costante, affidabile.
    %p.heading-subtitle L'offerta originaria. L'ideale per casa e azienda.

  .plans
    - 4.times do
      .plan
        .plan-name 7 Mega Privati

        .plan-price
          .plan-price-currency €
          .plan-price-digits 24
          .plan-price-recurrence / mese

        .plan-feature
          .plan-feature-name Installazione
          .plan-feature-content € 100 u.t.
          .plan-feature-erased-content € 180 u.t.
