.toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;

  & + label {
    display: block;
    position: relative;
    width: 60px;
    height: 30px;
    padding: 2px;
    transition: background .4s;
    border-radius: 60px;
    outline: none;
    background-color: $palette-secondary;
    cursor: pointer;
    user-select: none;

    &:before, &:after {
      display: block;
      position: absolute;
      content: "";
    }

    &:before {
      top: 2px;
      right: 2px;
      bottom: 2px;
      left: 2px;
      transition: background .4s;
      border-radius: 60px;
      // scss-lint:disable ColorVariable
      background-color: #fff;
      // scss-lint:enable ColorVariable
    }

    &:after {
      top: 4px;
      bottom: 4px;
      left: 4px;
      width: 22px;
      transition: margin .4s, background .4s;
      border-radius: 26px;
      background-color: $palette-secondary;
    }
  }

  &:checked + label {
    background-color: $palette-primary;

    &:after {
      margin-left: 30px;
      background-color: $palette-primary;
    }
  }
}
