.feature {
  padding-top: 75px;
  padding-bottom: 75px;

  .feature-title {
    margin-top: 0;
  }

  .feature-content {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 800px;

    @media (max-width: $screen-xs-max) {
      flex-direction: column-reverse;
      text-align: center;
    }
  }

  .feature-description {
    font-size: $font-size-large;
    color: $gray-light;

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  .feature-body {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .feature-image {
    width: 35%;
    padding-left: 15px;
    padding-right: 15px;

    @media (max-width: $screen-xs-max) {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;
    }

    img {
      width: 100%;
    }
  }
}
