.feature {
  padding-top: 75px;
  padding-bottom: 75px;

  .feature-title {
    margin-top: 0;
  }

  .feature-content {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 800px;

    .feature-description {
      font-size: $font-size-large;
      color: $gray-light;

      & > *:last-child {
        margin-bottom: 0;
      }
    }
  }

  .feature-body {
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
  }

  .feature-image {
    width: 35%;
    margin-left: 15px;
    margin-right: 15px;

    img {
      width: 100%;
    }
  }
}
