.infobox {
  margin-bottom: 30px;
  padding: 15px;
  border: 1px solid $gray-lighter;
  border-radius: $border-radius-base;
  text-align: center;

  .infobox-icon {
    font-size: ceil(($font-size-h1 * 1.25));

    &,
    & > a {
      color: $palette-secondary;
    }
  }

  .infobox-title {
    margin-top: 0;
    font-size: $font-size-h3;
  }

  .infobox-footer {
    margin-top: 15px;
    margin-right: -16px;
    margin-bottom: -16px;
    margin-left: -16px;
  }

  .infobox-button {
    border-radius: $border-radius-base;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
