.panel-heading {
  @include clearfix();

  .panel-title {
    float: left;
  }

  .panel-icon {
    float: right;
    font-size: ceil($font-size-base * 1.125);
  }
}

.panel-body {
  > *:last-child {
    margin-bottom: 0;
  }
}

.panel-footer-actions {
  display: flex;
  align-items: center;
}

.panel-footer-action {
  &#{&}-alternate {
    order: 1;
  }

  &#{&}-primary {
    order: 2;
    margin-left: auto;
  }
}
