$plan-width: 285px;
$plan-label-color: #fff;
$plan-name-color: #fff;
$plan-price-color: #fff;

.plan {
  display: flex;
  flex: 1 1 $plan-width;
  width: $plan-width;
  max-width: $plan-width;
  flex-direction: column;
  margin-bottom: 10px;

  %plan-item {
    display: flex;
    align-self: stretch;
    justify-content: center;
  }

  .plan-label {
    padding: 7.5px;
    border-top-left-radius: $border-radius-base;
    border-top-right-radius: $border-radius-base;
    background-color: $brand-success;
    font-size: $font-size-small;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: $plan-label-color;

    & + .plan-name {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .plan-name {
    padding: 15px;
    border-left: 1px solid $palette-secondary-light;
    border-right: 1px solid $palette-secondary-light;
    border-top-left-radius: $border-radius-base;
    border-top-right-radius: $border-radius-base;
    background-color: $palette-secondary;
    color: $plan-name-color;
    font-size: $font-size-large;
    text-align: center;
  }

  .plan-price {
    @extend %plan-item;
    flex-direction: column;

    padding: 15px;
    border-left: 1px solid $palette-secondary;
    border-right: 1px solid $palette-secondary;
    text-align: center;
    background-color: $palette-secondary-light;
    color: $plan-price-color;

    .plan-price-main {
      @extend %plan-item;
      flex-direction: row;
    }

    .plan-price-currency {
      align-self: flex-start;
      margin-top: 9.5px;
      padding-left: 2.5px;
      padding-right: 2.5px;
      font-size: $font-size-small;
      color: $gray-lighter;
    }

    .plan-price-digits {
      padding-left: 2.5px;
      padding-right: 2.5px;
      font-size: $font-size-h1;
      font-weight: 700;
    }

    .plan-price-recurrence {
      align-self: flex-end;
      margin-bottom: 9.5px;
      padding-left: 2.5px;
      padding-right: 2.5px;
      font-size: $font-size-small;
      color: $gray-lighter;
    }

    .plan-price-alternative {
      margin-top: -5px;
      font-size: $font-size-smaller;
      color: $gray-lighter;
    }

    .plan-price-erased {
      color: $brand-danger-light;
      text-decoration: line-through;
    }
  }

  .plan-feature {
    @extend %plan-item;
    flex-direction: column;

    padding: 15px;
    border-left: 1px solid $gray-lighter;
    border-right: 1px solid $gray-lighter;
    border-bottom: 1px solid $gray-lighter;
    text-align: center;

    .plan-feature-name {
      font-size: $font-size-small;
      text-transform: uppercase;
    }

    .plan-feature-content {
      font-size: $font-size-large;
      font-weight: 700;
    }

    .plan-feature-erased-content {
      font-size: $font-size-small;
      color: $brand-danger;
      text-decoration: line-through;
    }

    &.plan-feature-highlight {
      background-color: $palette-highlight;
    }

    &.plan-feature-2x {
      flex-grow: 2;
    }
  }

  .plan-action {
    @extend %plan-item;
    flex-direction: row;

    padding: 15px;
    border: 1px solid $gray-lighter;
    border-bottom-left-radius: $border-radius-base;
    border-bottom-right-radius: $border-radius-base;
    text-align: center;
  }
}
