.subnav {
  border-bottom: 1px solid $gray-lighter;
  background-color: white;

  .subnav-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    .subnav-item {
      position: relative;
      flex-grow: 1;
      margin-bottom: -1px;
      padding: 20px 15px;
      border-left: 1px solid $gray-lighter;
      border-bottom: 1px solid $gray-lighter;
      border-right: 1px solid $gray-lighter;
      text-align: center;
      color: $gray-light;
      transition: color .25s ease-in-out, border .05s;

      &:last-child {
        border-right: 1px solid $gray-lighter;
      }

      &:hover, &:active, &:focus {
        border-bottom: 2px solid $palette-primary;
        color: $gray;
        text-decoration: none;
      }

      &.active {
        z-index: 1000;
        border-bottom: 2px solid $palette-primary;
        color: $gray;
        font-weight: bold;
      }
    }
  }
}
