.pricing {
  .features {
    margin-top: 50px;
  }

  .list-notes {
    @media (max-width: $screen-md-max) {
      li {
        text-align: center;
      }
    }
  }

  .pricing-plans-container {
    margin: 0 auto;
  }

  &.pricing-1x {
    .pricing-plans-container {
      max-width: $plan-width;
    }
  }

  &.pricing-2x {
    .pricing-plans-container {
      max-width: $plan-width * 2;
    }
  }

  &.pricing-3x {
    .pricing-plans-container {
      max-width: $plan-width * 3;
    }
  }

  &.pricing-4x {
    .pricing-plans-container {
      max-width: $plan-width * 4;
    }
  }
}
