.pricing-page {
  .features {
    margin-top: 50px;
  }

  .list-notes {
    @media (max-width: $screen-md-max) {
      li {
        text-align: center;
      }
    }
  }

  .pricing-page-plans-container {
    margin: 0 auto;
  }

  .pricing-page-switch-container {
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 1140px;
  }

  &.pricing-page-one-plan {
    .pricing-page-plans-container {
      max-width: $plan-width;
    }
  }

  &.pricing-page-two-plans {
    .pricing-page-plans-container {
      max-width: $plan-width * 2;
    }
  }

  &.pricing-page-three-plans {
    .pricing-page-plans-container {
      max-width: $plan-width * 3;
    }
  }

  &.pricing-page-four-plans {
    .pricing-page-plans-container {
      max-width: $plan-width * 4;
    }
  }
}
