%footer
  .call
    .container.call-container
      .call-text Pronto per la rivoluzione? Non rimarrai deluso.
      %a.btn.btn-call.btn-primary.call-button{href: '#'}
        Chiedi il tuo sopralluogo!
        %small (È gratuito e senza impegno)
